@import url("https://fonts.googleapis.com/css2? family= Acme & display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200;1,300;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---PaletaDeColores---*/
/*Fuentes*/
/*-----------BODY---------------*/
body {
  background-color: #ffffff; }

header nav {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 2px solid #aa1629; }
  header nav .container-fluid .navbar-brand {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-right: 50px;
    color: black; }
    header nav .container-fluid .navbar-brand span {
      color: #a82335; }
  header nav .container-fluid #navbarSupportedContent ul li a {
    font-size: 18px;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 300;
    color: black;
    padding: 0px 20px; }

header form .btn {
  color: white;
  background-color: #aa1629; }
  header form .btn:hover {
    background-color: black;
    color: white; }

/*-----------BODY---------------*/
body {
  background-color: #ffffff; }

/*------------------INICIO-----------------*/
main .carusel .carousel.slide .carousel-inner {
  width: 100%;
  height: 80vh; }
  main .carusel .carousel.slide .carousel-inner img {
    height: 80vh;
    object-fit: cover; }
  main .carusel .carousel.slide .carousel-inner div {
    background-color: #aa162a65;
    border-radius: 10px; }
    main .carusel .carousel.slide .carousel-inner div h2 {
      font-size: 40px;
      font-weight: 600;
      font-style: italic;
      color: white;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
    main .carusel .carousel.slide .carousel-inner div p {
      font-size: 20px;
      font-weight: 300;
      font-style: italic;
      color: white;
      text-align: center;
      font-family: 'Poppins', sans-serif; }

main .productos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%; }
  main .productos .productos-overlay {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 10px;
    position: relative;
    width: 300px;
    height: 350px;
    overflow: hidden;
    border: 1px solid #aa1629;
    border-radius: 10px; }
    main .productos .productos-overlay:hover .capa {
      transform: scale(1); }
  main .productos img {
    width: 100%;
    height: 100%;
    background-position: center;
    object-fit: cover; }
  main .productos .capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aa162a38;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: all 0.5s ease; }
    main .productos .capa h3 {
      font-size: 40px;
      font-weight: 600;
      font-style: italic;
      color: white;
      text-align: center;
      width: 300px;
      font-family: 'Poppins', sans-serif;
      position: absolute; }

main .comienzo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  animation-duration: 2s; }
  main .comienzo div {
    width: 70%;
    padding: 40px;
    border-radius: 30px; }
    main .comienzo div h4 {
      font-size: 60px;
      font-weight: 600;
      font-style: italic;
      color: black;
      text-align: center;
      padding: 10px;
      font-family: 'Poppins', sans-serif; }
    main .comienzo div p {
      font-size: 20px;
      font-weight: 0;
      font-style: italic;
      color: black;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
  main .comienzo img {
    width: 350px;
    border-radius: 100%;
    transition: 1s; }
    main .comienzo img:hover {
      transform: scale(1.1);
      box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.548);
      -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.452);
      -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.459); }

main .objetivo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding: 30px;
  animation-duration: 2s; }
  main .objetivo div {
    width: 70%;
    padding: 40px;
    border-radius: 30px; }
    main .objetivo div h4 {
      font-size: 60px;
      font-weight: 600;
      font-style: italic;
      color: black;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      padding: 10px; }
    main .objetivo div p {
      font-size: 20px;
      font-weight: 0;
      font-style: italic;
      color: black;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
  main .objetivo img {
    width: 350px;
    border-radius: 100%;
    transition: 1s; }
    main .objetivo img:hover {
      transform: scale(1.1);
      box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.459);
      -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.486);
      -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.432); }

/*--------------------PODUCTOS----------------------*/
.galeria {
  width: 98%;
  height: 100%;
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 230px;
  gap: 20px; }
  .galeria div {
    border: 2px solid #aa1629;
    border-radius: 6px;
    box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.75);
    position: relative; }
    .galeria div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition-duration: 1s; }
      .galeria div img:hover {
        filter: grayscale(1); }
    .galeria div h3 {
      font-size: 30px;
      font-weight: 0;
      font-style: italic;
      color: white;
      text-align: center;
      background-color: #aa162a73;
      position: absolute;
      bottom: 35px;
      font-family: 'Poppins', sans-serif;
      width: 100%; }
    .galeria div p {
      font-size: 20px;
      font-weight: 0;
      font-style: italic;
      color: white;
      text-align: center;
      background-color: #aa162a73;
      position: absolute;
      bottom: -5px;
      font-family: 'Poppins', sans-serif;
      width: 100%; }
  .galeria .img3-grid {
    grid-row: span 2; }
  .galeria .img4-grid {
    grid-column: span 2; }
  .galeria .img10-grid {
    grid-row: span 2; }

/*---------------------OFERTAS----------------------*/
.oferta {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }
  .oferta img {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .oferta div {
    border: 2px solid #aa1629;
    border-radius: 5px;
    width: 240px;
    height: 435px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: box-shadow;
    transition: 0.5s; }
    .oferta div:hover {
      transform: scale(1.05);
      box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.438);
      -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.438);
      -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.445); }
    .oferta div h3 {
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      color: black;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      text-decoration: underline; }
    .oferta div p {
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      color: #4b4b4b;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
    .oferta div span {
      font-size: 15px;
      font-weight: bold;
      font-style: italic;
      color: #4b4b4b;
      text-align: center;
      font-family: 'Poppins', sans-serif; }
    .oferta div a {
      padding: 0px 10px;
      border: 1px solid #aa1629;
      border-radius: 5px;
      margin-bottom: 5px;
      font-size: 12px;
      text-align: center;
      font-weight: 600;
      color: black;
      text-decoration: none;
      box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.349);
      -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.507);
      -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.336); }
      .oferta div a:hover {
        background-color: #aa1629;
        color: white; }

/*-----------------INFORMACION----------------------*/
main .envios-contenedor h1 {
  font-size: 30px;
  font-weight: 600;
  font-style: italic;
  color: #aa1629;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: 10px; }

main .envios-contenedor .envios-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; }
  main .envios-contenedor .envios-flex .envios {
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 30px;
    border: 2px solid #aa162a;
    border-radius: 10px; }
    main .envios-contenedor .envios-flex .envios img {
      width: 80px;
      height: 80px; }
    main .envios-contenedor .envios-flex .envios h2 {
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      color: black;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      margin-top: 15px;
      padding: 5px;
      text-decoration: underline; }
    main .envios-contenedor .envios-flex .envios p {
      font-size: 15px;
      font-weight: 600;
      font-style: none;
      color: rgba(0, 0, 0, 0.616);
      text-align: center;
      font-family: 'Poppins', sans-serif; }
      main .envios-contenedor .envios-flex .envios p span {
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        color: black;
        text-align: center;
        font-family: 'Poppins', sans-serif; }

main .envios-img {
  width: 100%;
  height: 100%;
  text-align: center; }
  main .envios-img img {
    width: 480px;
    height: 180px;
    filter: grayscale(1); }

/*-----------------Contactos----------------*/
main fieldset {
  text-align: -webkit-center; }
  main fieldset legend {
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    color: #aa1629;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 10px; }

main .form-group .col-md-8 {
  display: flex;
  margin: 20px; }
  main .form-group .col-md-8 img {
    width: 35px;
    height: 35px; }

/*---------------------------------ERROR404-------------------------------*/
body .error-contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  body .error-contenedor .img-error img {
    width: 400px;
    height: 250px;
    margin-bottom: 20px; }
  body .error-contenedor .img-error h1 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: black;
    text-align: left; }
  body .error-contenedor .img-error h2 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: black;
    text-align: left;
    margin-bottom: 20px; }
  body .error-contenedor .img-error div {
    display: flex;
    flex-direction: column;
    margin-top: 50px; }
    body .error-contenedor .img-error div a {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
      color: black;
      text-align: left; }

/*-----------BODY---------------*/
body {
  background-color: #ffffff; }

footer {
  width: 100%;
  height: 100%; }
  footer .primer-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 30px 80px; }
    footer .primer-footer .items {
      width: 100%;
      height: 100%;
      margin: 20px;
      padding: 30px;
      display: flex;
      align-items: center; }
      footer .primer-footer .items img {
        width: 50px;
        height: 50px; }
      footer .primer-footer .items h5 {
        font-size: 20px;
        font-weight: 600;
        font-style: italic;
        color: rgba(0, 0, 0, 0.692);
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-top: 15px;
        padding: 5px;
        text-decoration: underline; }
  footer .segundo-footer {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #aa1629;
    width: 100%; }
    footer .segundo-footer .navegacion {
      display: flex;
      flex-direction: column; }
      footer .segundo-footer .navegacion h2 {
        font-size: 15px;
        font-weight: 600;
        font-style: italic;
        color: white;
        text-align: center;
        text-decoration: underline;
        margin-bottom: 10px; }
      footer .segundo-footer .navegacion a {
        font-size: 15px;
        font-weight: 300;
        font-style: italic;
        color: white;
        text-align: left;
        text-decoration: none; }
    footer .segundo-footer .maps h2 {
      font-size: 15px;
      font-weight: 600;
      font-style: italic;
      color: white;
      text-align: center;
      text-decoration: underline; }
    footer .segundo-footer .maps iframe {
      width: 150px;
      height: 150px; }
    footer .segundo-footer .ing h2 {
      font-size: 15px;
      font-weight: 600;
      font-style: italic;
      color: white;
      text-align: center;
      text-decoration: underline; }
    footer .segundo-footer .ing img {
      width: 30px;
      height: 30px;
      margin: 10px 30px;
      transition: all 0.5s ease; }
      footer .segundo-footer .ing img:hover {
        transform: scale(1.2); }
    footer .segundo-footer .ing .telefono .numero p {
      font-size: 15px;
      font-weight: 600;
      font-style: italic;
      color: white;
      text-align: center; }

/*-----------------------------------------MEDIA QUARY-------------------------------------*/
@media screen and (max-width: 1030px) {
  footer .primer-footer {
    margin: 10px 60px; } }

@media screen and (max-width: 980px) {
  main .comienzo {
    flex-direction: column; }
  main .objetivo {
    flex-direction: column; }
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px; }
  .galeria .img3-grid {
    grid-row: span 1; }
  .galeria .img4-grid {
    grid-column: span 1; }
  .galeria .img10-grid {
    grid-row: span 1; }
  footer .primer-footer {
    margin: 0px 40px; } }

@media screen and (max-width: 960px) {
  main .productos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120vh; }
  main .productos .productos-overlay {
    width: 80%; }
  footer .primer-footer .items {
    margin: 0px; }
  footer .primer-footer .items h5 {
    font-size: 15px; }
  footer .primer-footer .items img {
    width: 40px;
    height: 40px; }
  main .envios-contenedor .envios-flex .envios img {
    width: 60px;
    height: 60px; }
  main .envios-contenedor .envios-flex .envios h2 {
    font-size: 15px; }
  main .envios-contenedor .envios-flex .envios p {
    font-size: 12px; } }

@media screen and (max-width: 920px) {
  header {
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px; }
  .galeria div {
    grid-row: span 1;
    grid-column: span 1; } }

@media screen and (max-width: 760px) {
  main .comienzo div {
    width: 80%; }
  main .comienzo div h4 {
    font-size: 50px; }
  main .comienzo div p {
    font-size: 15px;
    text-align: center; }
  main .objetivo div {
    width: 80%; }
  main .objetivo div h4 {
    font-size: 50px; }
  main .objetivo div p {
    font-size: 15px;
    text-align: center; } }

@media screen and (max-width: 730px) {
  main .envios-contenedor .envios-flex {
    flex-direction: column; }
  main .envios-contenedor .envios-flex .envios {
    width: 65%; } }

@media screen and (max-width: 700px) {
  main .comienzo div {
    width: 100%;
    padding: 35px; }
  main .objetivo div {
    width: 100%;
    padding: 35px; }
  footer .primer-footer .items {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 580px) {
  main .carusel .carousel.slide .carousel-inner div h2 {
    font-size: 30px; }
  main .carusel .carousel.slide .carousel-inner div p {
    font-size: 15px; }
  footer .primer-footer {
    flex-direction: column; }
  footer .primer-footer .items h5 {
    font-size: 20px; }
  main .comienzo div {
    padding: 20px; }
  main .comienzo div h4 {
    font-size: 40px; }
  main .comienzo div {
    padding: 20px; }
  main .objetivo div h4 {
    font-size: 40px; } }

@media screen and (max-width: 519px) {
  main .oferta div {
    width: 280px;
    height: 450px; } }

@media screen and (max-width: 500px) {
  header h1 {
    font-size: 50px;
    text-align: center; }
  header nav ul {
    flex-direction: column;
    text-align: center; }
  .menu-nav ul li {
    margin: 5px; }
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: 200px; }
  .galeria div {
    grid-row: span 1;
    grid-column: span 1; }
  main .envios-img img {
    width: 400px;
    height: 150px; } }

@media screen and (max-width: 460px) {
  main .carusel .carousel.slide .carousel-inner div h2 {
    font-size: 25px; }
  main .carusel .carousel.slide .carousel-inner div p {
    font-size: 10px; }
  main .comienzo div h4 {
    font-size: 30px; }
  main .comienzo div p {
    font-size: 12px; }
  main .comienzo img {
    width: 300px; }
  main .objetivo div h4 {
    font-size: 30px; }
  main .objetivo div p {
    font-size: 12px; }
  main .objetivo img {
    width: 300px; } }

@media screen and (max-width: 400px) {
  main .productos div {
    width: 100%;
    align-items: center;
    text-align: center; }
  main .comienzo div {
    padding: 0px; }
  main .objetivo div {
    padding: 0px; }
  footer .segundo-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
  footer .segundo-footer div {
    margin-top: 15px; }
  main .envios-img img {
    width: 300px;
    height: 120px; } }

@media screen and (max-width: 380px) {
  main .carusel .carousel.slide .carousel-inner div h2 {
    font-size: 20px; }
  main .comienzo img {
    width: 250px;
    margin-top: 10px; }
  main .objetivo img {
    width: 250px;
    margin-top: 10px; }
  main .envios-contenedor h1 {
    font-size: 25px; } }
