/*-----------BODY---------------*/
body{
    background-color: nth($colores, 5 );
}

footer{
    width: 100%;
    border-top: solid 5px #83B692;
    background-color: nth($colores, 7 );
    font-family: 'Acme', sans-serif;

    div{
        display: flex;
        justify-content: center;
        align-items: center;

        img{
            width: 45px;
            height: 45px;
            margin: 10px 30px;
            transition: all 0.5s ease;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}