/*-----------BODY---------------*/
body{
    background-color: nth($colores, 1 );
}

header{
    nav{
        background-color: nth($colores , 1 );
        padding: 10px;
        border-bottom: 2px solid nth($colores, 3 );
        .container-fluid{
            .navbar-brand{
                font-size: 45px;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                padding-right: 50px;
                color: black;
            }
            #navbarSupportedContent{
                ul{
                    li{
                        a{
                            font-size: 18px;
                            font-style: italic;
                            font-family: 'Poppins', sans-serif;
                            text-align: center;
                            font-weight: 300;
                            color: black;
                            padding: 0px 20px;
                        }
                    }
                }
            }
        }
    }
    form .btn{
        color: white;
        background-color: black;
        &:hover{
            background-color: nth($colores , 1 );
            color: black;
        }
    }
}