/*-----------BODY---------------*/
body{
    background-color: nth($colores, 5 );
}
/*------------------INICIO-----------------*/

main{

    .portada{
        background: linear-gradient(rgba(0, 0, 0, 0.548),rgba(0, 0, 0, 0.521)), url(../img/lenceria-portadda.jpeg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 80vh;
        
        h1{
            @include font (60px, bold, italic, black, left);
            font-family: 'Vollkorn', serif;
            padding-left: 20px
        }

        p{
            @include font (30px, 0, italic, black, left);
            font-family: 'Vollkorn', serif;
            padding-left: 20px;
        }
    }

    .comienzo{
        @include flex (flex, space-around, center);
        padding: 30px;

        div{
            width: 70%;
            padding: 40px;
            background-color: nth($colores, 6 );
            border-radius: 30px;

            h2{
                @include font (60px, 0, italic, black, center);
                padding: 20px;
                text-decoration: underline;
                font-family: 'Vollkorn', serif;
            }

            p{
                @include font (20px, 0, italic, black, center);
                font-family: 'Vollkorn', serif;
            }
        }

        img{
            width: 350px;
            border-radius: 100%;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
            }
        }
    }

    .objetivo{
        @include flex (flex, space-around, center);
        flex-direction: row-reverse;
        padding: 30px;

        div{
            width: 70%;
            padding: 40px;
            background-color: nth($colores, 6 );
            border-radius: 30px;

            h2{
                @include font (60px, 0, italic, black, center);
                font-family: 'Vollkorn', serif;
                padding: 20px;
                text-decoration: underline;
            }

            p{
                @include font (20px, 0, italic, black, center);
                font-family:'Vollkorn', serif;
            }
        }

        img{
            width: 350px;
            border-radius: 100%;
            transition: 1s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
                -webkit-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
            }
        }
    }

    .productos{
        @include flex (flex, space-around, center);
        width: 100%;
        height: 80vh;
        margin-top: 5px;

        .productos-overlay{
            display: flex;
            flex-direction: column-reverse;
            margin: 20px 10px;
            position: relative;
            width: 350px;
            height: 450px;
            overflow: hidden;
            border: 4px solid nth($colores, 6 );
            border-radius: 10px;
            &:hover .capa{
                transform: scale(1);
            }
            }
            img{
                width: 100%;
                height: 100%;
                background-position: center;
                object-fit: cover;
            }
            .capa{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: nth($colores, 8 );
                @include flex (flex, center, center);
                transform: scale(0);
                transition: all 0.5s ease;
                h3{
                    @include font (40px, 0, italic, black, center);
                    width: 300px;
                    font-family: 'Vollkorn', serif;
                    position: absolute;
                    
                }
            }
        }

    .ubicacion{
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            @include font (60px, 0, italic, black, center);
            padding: 20px;
            text-decoration: underline;
            font-family: 'Vollkorn', serif;
        }
    }
}

/*--------------------PODUCTOS----------------------*/

.galeria{
    width: 100%;
    margin: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-auto-rows: 300px;
    gap: 30px;
    div{
        border: 3px solid nth($colores, 6 );
        border-radius: 6px;
        box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
        -webkit-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 12px -1px rgba(0,0,0,0.75);
        position: relative;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 1s;
            &:hover{
                filter: grayscale(1);
                }

        }
        
        h3{
            @include font (30px, 0, italic, black, center);
            background-color: nth($colores, 8 );
            position: absolute;
            bottom: 35px;
            font-family:'Vollkorn', serif;
            width: 100%;
        }
        
        p{
            @include font (20px, 0, italic, black, center);
            background-color: nth($colores, 8 );
            position: absolute;
            bottom: -5px;
            font-family: 'Vollkorn', serif;
            width: 100%;
        }
        }
        .img3-grid{
            grid-row: span 2;
        }
        .img4-grid{
            grid-column: span 2;
        }
        .img10-grid{
            grid-row: span 2;
        }
}

/*---------------------OFERTAS----------------------*/

.oferta{
    @include flex (flex, space-around, center);

    img{
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

    div{
        border: 3px solid nth($colores, 6 );
        border-radius: 5px;
        width: 300px;
        margin: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition-property: box-shadow;
        transition: 0.5s;
        &:hover{
            transform: scale(1.05);
            box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.438);
        -webkit-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.438);
        -moz-box-shadow: 10px 10px 12px -1px rgba(0, 0, 0, 0.445);
        }
        h3{
            @include font (30px, 600, italic, black, center);
            background-color: nth($colores, 8 );
            width: 100%;
        }
        
        p{
            @include font (15px, bold, italic, rgb(75, 75, 75), left);
            background-color: nth($colores, 8 );
            width: 100%;
            font-family: 'Acme', sans-serif;
        }
        span{
            @include font (15px, bold, italic, rgb(75, 75, 75), left);
            background-color: nth($colores, 8 );
            font-family: 'Acme', sans-serif;
            width: 100%;


        }
    }
}
/*-----------------ENVIOS----------------------*/
.envios{
    .titulo-envios{
        @include font (40px, 600, italic, black, center);
        text-decoration: underline;
        font-family: 'Acme', sans-serif;
    }
    }
.flex-contenedor{
    @include flex (flex, space-around, center);
        .flex-envios{
            @include font (15px, 600, italic, black, center);
            font-family: 'Acme', sans-serif;
            margin-top: 30px;
            h3{
                font-size: 30px;
                font-weight: bold;
                color: black;
            }
            }
            img{
                width: 300px;
            }
        .flex-encuentro{
            @include font (15px, 600, italic, black, center);
            font-family: 'Acme', sans-serif;
            margin-top: 30px;
            h3{
                font-size: 30px;
                font-weight: bold;
                color: black;
            }
            img{
                width: 300px;
                margin-top: 30px;
            }
            p{
                font-size: 20px;
                color: rgb(58, 58, 58);
            }
            }    
        }

/*-----------------Contactos----------------*/
.titulo-contacto{
    @include font (40px, 600, italic, black, center);
    font-family: 'Acme', sans-serif;
    text-decoration: underline;
}
.form-contenedor{
            display: flex;
            justify-content: center;
            padding: 20px;
    .field-contenedor{
            padding: 10px;
            background-color: nth($colores, 8 );
            border: solid 3px nth($colores, 6 );
            @include font (20px, 600, italic, black, center);
            font-family: 'Acme', sans-serif;
            width: 50%;
            h2{
                font-size: nth($fuente, 2 ) ;
            }
    }
}



