/*-----------------------------------------MEDIA QUARY-------------------------------------*/
@media screen and (max-width:1030px){
    footer .primer-footer{
    margin: 10px 60px;
    }
}


@media screen and (max-width:980px) {
    main .comienzo{
        flex-direction: column;
    }
    main .objetivo{
        flex-direction: column;
    }   

    .galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 250px;
    }
    .galeria .img3-grid {
        grid-row: span 1;
    }
    .galeria .img4-grid{
        grid-column: span 1;
    }
    .galeria .img10-grid{
        grid-row: span 1;
    }
    footer .primer-footer{
        margin: 0px 40px;
    }

}

@media screen and (max-width:960px) {
    main .productos{
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 120vh;
    }
    main .productos .productos-overlay{
        width: 80%;
    }
    footer .primer-footer .items{
        margin: 0px;
    }
    footer .primer-footer .items h5{
        font-size: 15px;
    }
    footer .primer-footer .items img{
        width: 40px;
        height: 40px;
    }
    main .envios-contenedor .envios-flex .envios img{
        width: 60px;
        height: 60px;
    }
    main .envios-contenedor .envios-flex .envios h2{
        font-size: 15px;
    }
    main .envios-contenedor .envios-flex .envios p{
        font-size: 12px;
    }
}


@media screen and (max-width:920px){
    header{
        flex-direction: column;
    }
}
@media screen and (max-width:900px) {
    .galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 250px;
    }
    .galeria div{
        grid-row: span 1 ; 
        grid-column: span 1;
    } 
    body .error-contenedor .img-error img{
        height: 200px;
    }
    body .error-contenedor .img-error h1{
        font-size: 20px;
    }
    body .error-contenedor .img-error h2{
        font-size: 20px;
    }
}   
@media screen and (max-width:830px) {
    body .error-contenedor .img-error img{
        height: 170px;
    }
    body .error-contenedor .img-error h1{
        font-size: 15px;
    }
    body .error-contenedor .img-error h2{
        font-size: 15px;
    }
    body .error-contenedor .img-error div a{
        font-size: 12px;
    }
}

@media  screen and (max-width:760px) {
    main .comienzo div{
        width: 80%;
    }
    main .comienzo div h4{
        font-size: 50px;
    }
    main .comienzo div p{
        font-size: 15px;
        text-align: center;
    }
    main .objetivo div{
        width: 80%;
    }
    main .objetivo div h4{
        font-size: 50px;
    }
    main .objetivo div p{
        font-size: 15px;
        text-align: center;
    }
}

@media screen and (max-width:700px) {
    main .comienzo div{
        width: 100%;
        padding: 35px;
    }
    main .objetivo div{
        width: 100%;
        padding: 35px;
    }
    footer .primer-footer .items{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:580px){
    main .carusel .carousel.slide .carousel-inner div h2{
        font-size: 30px;
    }
    main .carusel .carousel.slide .carousel-inner div p{
        font-size: 15px;
    }
    footer .primer-footer{
        flex-direction: column;
    }
    footer .primer-footer .items h5{
        font-size: 20px;
    }
    main .comienzo div{
        padding: 20px;
    }
    main .comienzo div h4{
        font-size: 40px;
    }
    main .comienzo div{
        padding: 20px;
    }
    main .objetivo div h4{
        font-size: 40px;
    }
}

@media screen and (max-width:539px) {
    main .oferta div{
        width: 290px;
        height: 475px;
    }
    body .error-contenedor{
        padding: 5px;
    }
    body .error-contenedor .img-error img{
        height: 150px;
    }
}

@media screen and (max-width:500px) {
    header h1{
        font-size: 50px ;
        text-align: center;
    }
    header nav ul{
        flex-direction: column;
        text-align: center;
    }
    .menu-nav ul li{
        margin: 5px;
    }

    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: 200px;
    }

    .galeria div{
        grid-row: span 1 ; 
        grid-column: span 1;
    }
    main .envios-img img{
        width: 400px;
        height: 150px;
    }
}

@media screen and (max-width:460px) {
    main .carusel .carousel.slide .carousel-inner div h2{
        font-size: 25px;
    }
    main .carusel .carousel.slide .carousel-inner div p{
        font-size: 10px;
    }
    main .comienzo div h4{
        font-size: 30px;
    }
    main .comienzo div p{
        font-size: 12px;
    }
    main .comienzo img{
        width: 300px;
    }
    main .objetivo div h4{
        font-size: 30px;
    }
    main .objetivo div p{
        font-size: 12px;
    }
    main .objetivo img{
        width: 300px;
    }
}


@media screen and (max-width:400px) {
    main .productos div{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    main .comienzo div{
        padding: 0px;
    }
    main .objetivo div{
        padding: 0px;
    }
    footer .segundo-footer{
        @include flex (flex,space-around,center);
        flex-direction:column;
    }
    footer .segundo-footer div{
        margin-top: 15px;
    }
    main .envios-img img{
        width: 300px;
        height: 120px;
    }
}
@media screen and (max-width:380px) {
    main .carusel .carousel.slide .carousel-inner div h2{
        font-size: 20px;
    }
    main .comienzo img{
        width: 250px;
        margin-top: 10px;
    }
    main .objetivo img{
        width: 250px;
        margin-top: 10px;
    }
    main .envios-contenedor h1{
        font-size: 25px;
    }
    body .error-contenedor .img-error img{
        height: 110px;
    }
    body .error-contenedor .img-error h1{
        font-size: 12px;
    }
    body .error-contenedor .img-error h2{
        font-size: 12px;
    }
    body .error-contenedor .img-error div a{
        font-size: 10px;
    }
}
